////
/// Components
/// PillSwitch
////

@import 'utilities/layout';
@import './props';
@import '../Patterns/props';

.PillSwitch {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  width: pill-switch(size);
  height: pill-switch(size);
  // background: rgba(black, 0.1);

  @media screen and (min-width: get-breakpoint(tablet)) {
    width: pill-switch(size, tablet);
    height: pill-switch(size, tablet);
  }
}

.PillSwitchTrack {
  @include pill-switch-track-layout;
  @include halftone-bg;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: get-color(coal, dark);
  border: get-border() solid get-color(coal, dark);
  transform: rotate(-45deg);
  overflow: hidden;

  @media screen and (min-width: get-breakpoint(tablet)) {
    @include pill-switch-track-layout('tablet');
    border-width: get-border(thick);
  }
}

.PillSwitchControl {
  @include flex-center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: pill-switch(control-size);
  height: pill-switch(control-size);
  color: get-color(coal, dark);
  background-color: white;
  border: get-border() solid currentColor;
  border-radius: 50%;
  transition: color get-duration(fast) get-easing();

  @media screen and (min-width: get-breakpoint(tablet)) {
    width: pill-switch(control-size, tablet);
    height: pill-switch(control-size, tablet);
    border-width: get-border(thick);
  }

  // visually center
  .Heading {
    margin-top: -0.1em;
    margin-left: -0.05em;
  }

  &:focus,
  &:hover,
  &.draggable-mirror {
    color: get-color(brand, blue);
  }

  &:active {
    color: get-color(brand, blue-dark);
  }

  &.draggable-source--is-dragging {
    opacity: 0;
    visibility: hidden;
  }
}
