////
/// Components
/// Heading
////

@import '../../styles/utilities/layout';

.Heading,
.Subheading  {
  letter-spacing: get-type-scale(base, tracking);
  line-height: get-type-scale(base, leading);
}

.Heading {
  color: currentColor;
}

.Subheading {
  font-size: get-type-scale(subheading);
  font-weight: get-type-scale(subheading, weight);
  color: get-color(coal, light);

  @media screen and (min-width: get-breakpoint(tablet)) {
    font-size: get-type-scale(subheading, tablet);
  }
}

.Heading--noSelect {
  // prevent text selection
  pointer-events: none;
  user-select: none;
}

.Heading--isHidden {
  @include visually-hidden;
}

///
/// Heading sizes
.Heading--sizeJumbo {
  font-size: get-type-scale(jumbo);
  font-weight: get-type-scale(jumbo, weight);
  line-height: get-type-scale(jumbo, leading);

  @media screen and (min-width: get-breakpoint(tablet)) {
    font-size: get-type-scale(jumbo, tablet);
  }

  @media screen and (min-width: get-breakpoint(desktop)) {
    font-size: get-type-scale(jumbo, desktop);
  }
}

.Heading--size1 {
  margin-bottom: get-spacing(tight);
  font-size: get-type-scale(h1);
  font-weight: get-type-scale(h1, weight);

  @media screen and (min-width: get-breakpoint(tablet)) {
    margin-bottom: get-spacing();
    font-size: get-type-scale(h1, tablet);
  }

  @media screen and (min-width: get-breakpoint(desktop)) {
    font-size: get-type-scale(h1, desktop);
  }
}

.Heading--size2 {
  font-size: get-type-scale(h2);
  font-weight: get-type-scale(h2, weight);

  @media screen and (min-width: get-breakpoint(tablet)) {
    font-size: get-type-scale(h2, tablet);
  }

  @media screen and (min-width: get-breakpoint(desktop)) {
    font-size: get-type-scale(h2, desktop);
  }
}

.Heading--size3 {
  font-size: get-type-scale(h3);
  font-weight: get-type-scale(h3, weight);

  @media screen and (min-width: get-breakpoint(tablet)) {
    font-size: get-type-scale(h3, tablet);
  }

  @media screen and (min-width: get-breakpoint(desktop)) {
    font-size: get-type-scale(h3, desktop);
  }
}

.Heading--size4 {
  font-size: get-type-scale(h4);
  font-weight: get-type-scale(h4, weight);

  @media screen and (min-width: get-breakpoint(tablet)) {
    font-size: get-type-scale(h4, tablet);
  }

  @media screen and (min-width: get-breakpoint(desktop)) {
    font-size: get-type-scale(h4, desktop);
  }
}

///
/// Heading colors
.Heading--colorWhite {
  color: white;
}
